.dashlessonsCard {
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    margin-left: 3%;
    margin-top: 4%;
    box-shadow: 0.5px 2px 2px #b3aeae;
    padding: 10px 0;
}

.dashlessonsHeader {
    font-family: Montserrat, 'san-serrif';
    font-size: 20px;
    font-weight: 600;
}

.dashlessonsItem {
    /* position: relative; */
    background-color: #f8f8f8;
    width: 500px;
    border-radius: 8px;
    margin-left: 3.6%;
    margin-bottom: 2%;
    padding-bottom: 6px;
}

.dashlessonsItemText {
    font-family: Montserrat, 'san-serrif';
    font-size: 13px;
    font-weight: 500;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 30px;
    text-align: justify;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.dashlessonsId {
    color: #858585;
    font-size: 10px;
    margin-right: 20%;
}

.dashlessonsLevel {
    color: #858585;
    font-size: 12px;
    font-family: Montserrat, 'sans-serrif';
    margin-left: 360px
}

.dashlessonsItemText a {
    text-decoration: none;
    color: #000;
}

.dashlessonsItemText a:hover {
    text-decoration: none;
    color: #4184f8;
}

.dashlessonsSeeMore {
    color: #2979FF;
    cursor: pointer;
    padding-bottom: 40px;
}

.dashlessonsSeeMore:hover {
    text-decoration: underline;
    color: #2979FF;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 40px;
}


@media only screen and (max-width: 1200px) {
    .dashlessonsCard {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        margin-left: 3%;
        margin-top: 4%;
        box-shadow: 0.5px 2px 2px #b3aeae;
        padding: 10px 0;
    }

    .dashlessonsHeader {
        font-family: Montserrat, 'san-serrif';
        font-size: 18px;
        font-weight: 600;
    }

    .dashlessonsItem {
        /* position: relative; */
        background-color: #f8f8f8;
        width: 400px;
        border-radius: 8px;
        margin-left: 3.6%;
        margin-bottom: 2%;
        padding-bottom: 6px;
    }

    .dashlessonsItemText {
        font-family: Montserrat, 'san-serrif';
        font-size: 12px;
        font-weight: 500;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 40px;
        text-align: justify;
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .dashlessonsId {
        color: #858585;
        font-size: 10px;
        margin-right: 15%;
    }

    .dashlessonsLevel {
        color: #858585;
        font-size: 12px;
        font-family: Montserrat, 'sans-serrif';
        margin-left: 240px
    }

    .dashlessonsItemText a {
        text-decoration: none;
        color: #000;
    }
    
    .dashlessonsItemText a:hover {
        text-decoration: none;
        color: #4184f8;
    }
    
    .dashlessonsSeeMore {
        color: #2979FF;
        font-size: 14px;
        cursor: pointer;
        padding-bottom: 40px;
    }

    .dashlessonsSeeMore:hover {
        text-decoration: underline;
        color: #2979FF;
        font-size: 14px;
        cursor: pointer;
        padding-bottom: 40px;
    }
    
}



@media only screen and (max-width: 991px) {
    .dashlessonsCard {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        margin-left: 1%;
        margin-top: 4%;
        box-shadow: 0.5px 2px 2px #b3aeae;
        padding: 10px 0;
    }

    .dashlessonsHeader {
        font-family: Montserrat, 'san-serrif';
        font-size: 16px;
        font-weight: 600;
    }

    .dashlessonsItem {
        /* position: relative; */
        background-color: #f8f8f8;
        width: 300px;
        border-radius: 8px;
        margin-left: 3.6%;
        margin-bottom: 2%;
        padding-bottom: 6px;
    }

    .dashlessonsItemText {
        font-family: Montserrat, 'san-serrif';
        font-size: 12px;
        font-weight: 500;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 40px;
        text-align: justify;
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .dashlessonsId {
        color: #858585;
        font-size: 10px;
        margin-right: 15%;
    }

    .dashlessonsLevel {
        color: #858585;
        font-size: 11px;
        font-family: Montserrat, 'sans-serrif';
        margin-left: 190px
    }

    .dashlessonsItemText a {
        text-decoration: none;
        color: #000;
    }
    
    .dashlessonsItemText a:hover {
        text-decoration: none;
        color: #4184f8;
    }
    
    .dashlessonsSeeMore {
        color: #2979FF;
        font-size: 13px;
        cursor: pointer;
        padding-bottom: 40px;
    }

    .dashlessonsSeeMore:hover {
        text-decoration: underline;
        color: #2979FF;
        font-size: 13px;
        cursor: pointer;
        padding-bottom: 40px;
    }
    
}



@media only screen and (max-width: 767px) {
    .dashlessonsCard {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        margin-left: 1%;
        margin-top: 4%;
        box-shadow: 0.5px 2px 2px #b3aeae;
        padding: 10px 0;
    }

    .dashlessonsHeader {
        font-family: Montserrat, 'san-serrif';
        font-size: 14px;
        font-weight: 600;
    }

    .dashlessonsItem {
        /* position: relative; */
        background-color: #f8f8f8;
        width: 83%;
        border-radius: 8px;
        margin-left: 8%;
        margin-bottom: 2%;
        padding-bottom: 6px;
    }

    .dashlessonsItemText {
        font-family: Montserrat, 'san-serrif';
        font-size: 10px;
        font-weight: 500;
        padding-top: 20px;
        padding-right: 0;
        padding-left: 40px;
        text-align: justify;
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .dashlessonsId {
        color: #858585;
        font-size: 9px;
        margin-right: 10%;
    }

    .dashlessonsLevel {
        color: #858585;
        font-size: 9px;
        font-family: Montserrat, 'sans-serrif';
        margin-left: 100px
    }

    .dashlessonsItemText a {
        text-decoration: none;
        color: #000;
    }
    
    .dashlessonsItemText a:hover {
        text-decoration: none;
        color: #4184f8;
    }
    
    .dashlessonsSeeMore {
        color: #2979FF;
        font-size: 11px;
        cursor: pointer;
        padding-bottom: 40px;
    }

    .dashlessonsSeeMore:hover {
        text-decoration: underline;
        color: #2979FF;
        font-size: 11px;
        cursor: pointer;
        padding-bottom: 40px;
    }
    
}

@media only screen and (max-width: 601px) {
    .dashlessonsCard {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        margin-left: 1%;
        margin-top: 4%;
        margin-bottom: 30%;
        box-shadow: 0.5px 2px 2px #b3aeae;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 420px) {
    .dashlessonsCard {
        width: 100%;
        border-radius: 12px;
        background-color: #fff;
        margin-left: 1%;
        margin-top: 4%;
        margin-bottom: 40%;
        box-shadow: 0.5px 2px 2px #b3aeae;
        padding: 10px 0;
    }
}