.lessonsHeader {
    position: relative;
    width: 50%;
    height: 60px;
    background: #4184f8;
    border-radius: 12px;
    /* color: #1D4EFC; */
    color: #fff;
    margin-left: 24%;
    margin-top: 4%;
}

.lessonsTitle {
    font-size: 20px;
    font-family: Montserrat, 'sans-serrif';
    font-weight: 600;
    width: 45%;
    margin-left: 27%;
    padding-top: 3%;
}

.dotsImage1 {
    position: absolute;
    top: 25%;
    right: 80%;  
    width: 30px; 
    height: 30px;  
}

.dotsImage2 {
    position: absolute;
    top: 25%;
    left: 80%;
    width: 30px; 
    height: 30px; 
}


@media only screen and (max-width: 1200px) {
    .lessonsHeader {
        position: relative;
        width: 50%;
        height: 60px;
        background: #4184f8;
        border-radius: 12px;
        /* color: #1D4EFC; */
        color: #fff;
        margin-left: 24%;
        margin-top: 4%;
    }

    .lessonsTitle {
        font-size: 18px;
        font-family: Montserrat, 'sans-serrif';
        font-weight: 600;
        width: 50%;
        margin-left: 25%;
        padding-top: 3.9%;
    }

    .dotsImage1 {
        position: absolute;
        top: 28%;
        right: 80%;  
        width: 25px; 
        height: 25px;   
    }

    .dotsImage2 {
        position: absolute;
        top: 28%;
        left: 80%;
        width: 25px; 
        height: 25px; 
    }
    
}


@media only screen and (max-width: 991px) {
    .lessonsHeader {
        position: relative;
        width: 60%;
        height: 60px;
        background: #4184f8;
        border-radius: 12px;
        /* color: #1D4EFC; */
        color: #fff;
        margin-left: 18%;
        margin-top: 3%;
    }

    .lessonsTitle {
        font-size: 18px;
        font-family: Montserrat, 'sans-serrif';
        font-weight: 600;
        width: 60%;
        margin-left: 20%;
        padding-top: 4.5%;
    }

    .dotsImage1 {
        position: absolute;
        top: 29%;
        right: 80%;  
        width: 25px; 
        height: 25px;   
    }

    .dotsImage2 {
        position: absolute;
        top: 29%;
        left: 80%;
        width: 25px; 
        height: 25px; 
    }
    
}


@media only screen and (max-width: 767px) {
    .lessonsHeader {
        position: relative;
        width: 80%;
        height: 60px;
        background: #4184f8;
        border-radius: 12px;
        /* color: #1D4EFC; */
        color: #fff;
        margin-left: 9%;
        margin-top: 3%;
    }

    .lessonsTitle {
        font-size: 18px;
        font-family: Montserrat, 'sans-serrif';
        font-weight: 600;
        width: 70%;
        margin-left: 15%;
        padding-top: 4.5%;
    }

    .dotsImage1 {
        position: absolute;
        top: 29%;
        right: 80%;  
        width: 25px; 
        height: 25px;   
    }

    .dotsImage2 {
        position: absolute;
        top: 29%;
        left: 80%;
        width: 25px; 
        height: 25px; 
    }
    
}