.mobileShowcase {
    display: none;
}

.showcase {
    margin-top: 10%;
    position: relative;
}

.showcaseLeft {
    margin-top: 2%;
}

.showcaseTitle {
    position: relative;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.showcaseText {
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: start;
    margin: 10px 9px;
}

.signup {
    position: absolute;
    top: 130px;
    right: 200px;
    background-color: #3E86FF;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    color: white;
    margin-right: 60px;
    padding: 9px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;   
}

.signup:hover {
    color: white;
    background-color: #3e82f8;
    text-decoration: none;
}

.showcaseRight {
    position: relative;
    bottom: 30px;
}

.getStarted {
    margin-right: 35%;
    display: inline-block;
}

.showcaseDrawing {
    width: 450px; 
    height: 350px;
}



@media only screen and (max-width: 1200px) {
    .getStarted {
        margin-top: 9%;
        margin-right: 22%;
    }

    .showcaseTitle {
        position: relative;
        text-align: start;
        bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-left: 1%;
    }

    .showcaseText {
        font-family:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-align: start;
        margin: 10px 9px;
    }
}

@media only screen and (max-width: 991px) {
    .showcaseTitle {
        position: relative;
        text-align: start;
        bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }

    .showcaseText {
        font-family:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: start;
        margin: 10px 9px;
    }

    .getStarted {
        margin-top: 15%;
        display: inline-block;
        margin-right: -2%;
    }

    .showcaseDrawing {
        width: 390px;
        height: 300px;
    }
}


@media only screen and (max-width: 767px) {
    .showcaseTitle {
        position: relative;
        text-align: start;
        bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
    }

    .showcaseText {
        font-family:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-align: start;
        margin: 0px 9px;
    }

    .getStarted {
        margin-top: 26%;
        display: inline-block;
        margin-right: -33%;
    }

    .showcaseDrawing {
        width: 300px;
        height: 200px;
    }
}

@media only screen and (max-width: 700px) {
    .mobileShowcase {
        display: block;
    }

    .showcase {
        display: none;
    }

    .showcaseTitle {
        text-align: start;
        margin-top: 10%;
        margin-left: 15%;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }

    .showcaseText {
        font-family:'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: 80%;
        text-align: start;
        margin-left: 15%;
    }

    .getStarted {
        display: inline-block;
        margin-right: -2%;
        margin-top: -5%;
    }

    .showcaseDrawing {
        width: 280px;
        height: 180px;
    } 
}