.projectdetailContainer {
    width: 60%;
    margin: 5% auto;
    text-align: justify;
    font-family: Montserrat, 'sans-serrif';
}

.projectdetailTitle {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    margin-bottom: 3%;
}

.projectdetailDate {
    font-size: 14px;
    font-weight: 500;
    color: #a0a0a0;    
}

.projectdetailContent {
    margin-top: 3%;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-size: 16px;
    text-align: justify; 
}


