.login {
    color: black;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 5%;
    margin-right: 20px;
}

.login:hover {
    color: #3e82f8;
    text-decoration: none;
}

.signup {
    background-color: #3E86FF;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    padding: 7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;   
}

.signup:hover {
    color: white;
    background-color: #3e82f8;
    text-decoration: none;
}


.navItem {
    color: black;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 5%;
    margin-right: 20px;
}

.active {
    color: #3e82f8;
    text-decoration: none;
}

.navItem:focus{
    color: #3e82f8;
    text-decoration: none;
}


.navItem:hover{
    color: #3e82f8;
    text-decoration: none;
}

.navItem:active{
    color: #3e82f8;
    text-decoration: none;
}