.login {
    color: black;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 5%;
    margin-right: 20px;
}

.login:hover {
    color: #3e82f8;
    text-decoration: none;
}

.signup {
    background-color: #3E86FF;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    color: white;
    padding: 7px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;   
}

.signup:hover {
    color: white;
    background-color: #3e82f8;
    text-decoration: none;
}


.navItem {
    color: black;
    font-weight: 400;
    text-decoration: none; 
    margin-top: 5%;
    margin-right: 20px;
}

.active {
    color: #3e82f8;
    text-decoration: none;
}

.navItem:focus{
    color: #3e82f8;
    text-decoration: none;
}


.navItem:hover{
    color: #3e82f8;
    text-decoration: none;
}

.navItem:active{
    color: #3e82f8;
    text-decoration: none;
}

.navbarAvatar {
    margin-top: 3%;
    
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.navbarAvatar:hover {
    cursor: pointer;
}

.navbarAvatarOptions {
    padding: 3px;
    display: block;
    position: absolute;
    top: 85%;
    left: 87%;
    z-index: 1;
    width: 10%;
    text-align: center;
    background: #fff;
    box-shadow:  2px 2px #888888;
    border-radius: 6px;
}

.navbarAvatarOptions a {
    text-decoration: none;
    color: inherit;
}

.navbarAvatarItem {
    font: Montserrat, 'sans-seriff';
    display: block;
    font-size: 15px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-decoration: none;
}

.navbarAvatarItem:hover {
    background-color: #eeeeee;
}

